.container {
  grid-area: top;
  border: 1px solid var(--border);
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logoBox {
  display: flex;
  align-items: center;
}
