.container {
  grid-area: top;
  border: 1px solid var(--border);
  padding: 1%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.logoBox {
  display: flex;
  align-items: center;
}
