.container {
  grid-area: opened;
  overflow-y: scroll;
  position: relative;
}
.getStarted {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
}
.titleChat {
  grid-area: opened;
  height: 75px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1%;
  position: absolute;
  backdrop-filter: blur(10px);
  background-color: var(--border);
  padding: 2.5% 2%;
  z-index: 2;
}
.imgProfile {
  border-radius: 100px;
}
.contactInfo {
  display: flex;
  gap: 5%;
  align-items: center;
}
.statusOnline {
  color: var(--font-color-secondary);
  font-size: 0.8rem;
}
.closeChat {
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}
.boxControls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5%;
  width: 100%;
}
.boxCallers {
  display: flex;
  gap: 3%;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  cursor: pointer;
}
.itemCaller {
  transition: 0.3s;
}
.closeChat:hover,
.itemCaller:hover {
  font-size: 1.25rem;
}
.containerMessages {
  overflow-y: auto;
  padding: calc(75px + 1%) 0 calc(75px + 1%) 0;
  height: 100%;
}
.boxMessage {
  width: 100%;
  display: flex;
  margin-top: 1%;
  padding: 0 1%;
}
.boxDateGrouped {
  display: flex;
  flex-direction: column;
}
.dateGrouped {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2% 0;
  width: 100%;
}
.dateGrouped p {
  background-color: var(--border);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 1%;
}
.message {
  background-color: var(--font-color);
  padding: 1%;
  width: max-content;
  border-radius: 10px;
  max-width: 80%;
  position: relative;
  opacity: 0;
  display: flex;
  flex-direction: column;
  word-break: break-all;
}
.timeStamp {
  font-size: 0.6rem;
}
.myBoxMessages {
  justify-content: flex-end;
}
.yourBoxMessages {
  justify-content: flex-start;
}
.myMessages {
  background-color: var(--primary);
}
.yourMessages {
  background-color: var(--secondary);
}

.myMessages::after {
  content: '';
  position: absolute;
  right: -10px;
  top: 10px;
  border-width: 10px;
  border-style: solid;
  border-color: var(--primary) transparent transparent transparent;
}
.yourMessages::after {
  content: '';
  position: absolute;
  left: -10px;
  top: 10px;
  border-width: 10px;
  border-style: solid;
  border-color: var(--secondary) transparent transparent transparent;
}

.form {
  display: flex;
  padding: 1% 2%;
  gap: 1%;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 75px;
  background-color: var(--border);
  backdrop-filter: blur(10px);
}
.wrapperWelcome {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.boxWelcome {
  width: max-content;
  height: max-content;
  background-color: var(--border);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1%;
  flex-direction: column;
  cursor: pointer;
}
