.container {
  grid-area: chats;
  padding: 5%;
  overflow-y: scroll;
  border-right: 1px solid var(--border);
}
.box {
  display: flex;
  justify-content: space-between;
  margin: 0 0 5% 0;
  padding: 0 2%;
}
.btnTools {
  transition: 0.3s;
  cursor: pointer;
  color: var(--font-color-secondary);
}
.btnTools:hover {
  scale: 1.25;
}
.boxTools {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20%;
}
