.container {
  grid-area: chats;
  padding: 5%;
  overflow-y: scroll;
  border-right: 1px solid var(--border);
}
.menus {
  position: relative;
  height: 100%;
  width: 100%;
}
.box {
  display: flex;
  justify-content: space-between;
  margin: 0 0 5% 0;
  padding: 0 2%;
}
.btnTools {
  transition: 0.3s;
  cursor: pointer;
}
.btnTools:hover {
  scale: 1.25;
}
.boxTools {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20%;
  gap: 5%;
}
.boxErrors {
  margin: 5% 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.boxErrors p {
  text-align: center;
}
