.wrapper {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: var(--border);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}
.container {
  border-radius: 10px;
  padding: 2%;
  background-color: var(--background);
  box-shadow: 1px 1px 10px 1px var(--border);
  width: 30%;
  height: min-content;
  max-height: 70%;
  overflow-y: scroll;
}
.boxTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 5% 0;
}
.closeModal {
  transition: 0.3s;
  cursor: pointer;
}
.closeModal:hover {
  scale: 1.25;
}
.form {
  display: flex;
  gap: 2%;
  align-items: center;
  margin: 0 0 5% 0;
}
.boxListUsers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
